- if current_user
  - if access = @group.users.find_by(id: current_user.id)
    .controls
      %span.dropdown.group-settings-dropdown
        %a.dropdown-new.btn.btn-default#group-settings-button{href: '#', 'data-toggle' => 'dropdown'}
          = icon('cog')
          = icon('caret-down')
        %ul.dropdown-menu.dropdown-menu-align-right
          - if can?(current_user, :admin_group, @group)
            = nav_link(path: 'groups#projects') do
              = link_to projects_group_path(@group), title: 'Projects' do
                Projects
            - if ldap_enabled?
              = nav_link(controller: :ldap_group_links) do
                = link_to group_ldap_group_links_path(@group), title: "LDAP Groups" do
                  %span
                    LDAP Groups
            = nav_link(controller: :hooks) do
              = link_to group_hooks_path(@group), title: "Webhooks" do
                %span
                  Webhooks
            = nav_link(controller: :audit_events) do
              = link_to group_audit_events_path(@group), title: "Audit Events" do
                %span
                  Audit Events
            %li.divider
            %li
              = link_to edit_group_path(@group) do
                Edit Group
          %li
            = link_to leave_group_group_members_path(@group),
              data: { confirm: leave_group_message(@group.name) }, method: :delete, title: 'Leave group' do
              Leave Group
